PORT=5000
MONGODB_URI=your_mongodb_atlas_connection_string
JWT_SECRET=myclound_super_secret_key_2024
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

CLIENT_URL=http://localhost:5173
